/* nav menu */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar {
  background-color: #1992cf;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
  height: 50px;
}

.navbar a {
  text-decoration: none;
  color: #fff;
  margin: 0 15px;
}

.navbar a:hover {
  color: #0077ff;
}

.logo img {
  height: 50px;
  width: 50px;
  margin-top: 3px;
}

/* cv pagina */


#cvp {
  background: #0f5a90;
  font-size: 14px;
  line-height: 22px;
  color: #555555;
}

.bold {
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
}

.semi-bold {
  font-weight: 500;
  font-size: 16px;
}

.resume {
  width: 800px;
  height: auto;
  display: flex;
  margin: 50px auto;
}

.resume .resume_left {
  width: 280px;
  background: #40a4d6;
}

.resume .resume_left .resume_profile {
  width: 80%;
  height: 280px;
}

.resume .resume_left .resume_profile img {
  width: 100%;
  height: 100%;
}

.resume .resume_left .resume_content {
  padding: 0 25px;
}

.resume .title {
  margin-bottom: 20px;
}

.resume .resume_left .bold {
  color: #fff;
}

.resume .resume_left .regular {
  color: #b1eaff;
}

.resume .resume_item {
  padding: 25px 0;
  border-bottom: 2px solid #b1eaff;
}

.resume .resume_left .resume_item:last-child,
.resume .resume_right .resume_item:last-child {
  border-bottom: 0px;
}

.resume .resume_left ul li {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}

.resume .resume_left ul li:last-child {
  margin-bottom: 0;
}

.resume .resume_left ul li .icon {
  width: 35px;
  height: 35px;
  background: #fff;
  color: #40a4d6;
  border-radius: 50%;
  margin-right: 15px;
  font-size: 16px;
  position: relative;
}

.resume .icon i,
.resume .resume_right .resume_hobby ul li i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.resume .resume_left ul li .data {
  color: #b1eaff;
}

.resume .resume_left .resume_skills ul li {
  display: flex;
  margin-bottom: 10px;
  color: #b1eaff;
  justify-content: space-between;
  align-items: center;
}

.resume .resume_left .resume_skills ul li .skill_name {
  width: 25%;
}

.resume .resume_left .resume_skills ul li .skill_progress {
  width: 60%;
  margin: 0 5px;
  height: 5px;
  background: #009fd9;
  position: relative;
}

.resume .resume_left .resume_skills ul li .skill_per {
  width: 15%;
}

.resume .resume_left .resume_skills ul li .skill_progress span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #fff;
}

.resume .resume_left .resume_social .semi-bold {
  color: #fff;
  margin-bottom: 3px;
}

.resume .resume_right {
  width: 520px;
  background: #fff;
  padding: 25px;
}

.resume .resume_right .bold {
  color: #0bb5f4;
}

.resume .resume_right .resume_work ul,
.resume .resume_right .resume_education ul {
  padding-left: 40px;
  overflow: hidden;
}

.resume .resume_right ul li {
  position: relative;
}

.resume .resume_right ul li .date {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 15px;
}

.resume .resume_right ul li .info {
  margin-bottom: 20px;
}

.resume .resume_right ul li:last-child .info {
  margin-bottom: 0;
}

.resume .resume_right .resume_work ul li:before,
.resume .resume_right .resume_education ul li:before {
  content: "";
  position: absolute;
  top: 5px;
  left: -25px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: 2px solid #0bb5f4;
}

.resume .resume_right .resume_work ul li:after,
.resume .resume_right .resume_education ul li:after {
  content: "";
  position: absolute;
  top: 14px;
  left: -21px;
  width: 2px;
  height: 115px;
  background: #21404f;
}

.resume .resume_right .resume_hobby ul {
  display: flex;
  justify-content: space-between;
}

.resume .resume_right .resume_hobby ul li {
  width: 80px;
  height: 80px;
  border: 2px solid #0bb5f4;
  border-radius: 50%;
  position: relative;
  color: #0bb5f4;
}

.resume .resume_right .resume_hobby ul li i {
  font-size: 30px;
}

.resume .resume_right .resume_hobby ul li:before {
  content: "";
  position: absolute;
  top: 40px;
  
  
  height: 2px;
  background: #0bb5f4;
}

.resume .resume_right .resume_hobby ul li:last-child:before {
  display: none;
}

/* contact */
.HeaderContact {
  text-align: center;
  margin-top: 20px;
}

.contact-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.contact-form {
  width: 50%;
  background-color: #1992cf;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  padding: 20px;
  color: white;
}

.input-field,
.message-field {
  width: 100%;
  height: 40px;
  margin-top: 20px;
  padding: 10px;
  border: none;
  border-radius: 16px;
  outline: none;
}

.message-field {
  height: 150px;
}

.submit-button {
  background-color: #3406ec;
  color: white;
  border: none;
  border-radius: 16px;
  padding: 15px 20px;
  cursor: pointer;
  margin-top: 20px;
}

.additional-content {
  width: 45%;
  background-color: #1992cf;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  padding: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.additional-content img {
  width: 100%;
  border-radius: 16px;
  margin-bottom: 20px;
}

.linkedin-link {
  text-decoration: none;
  color: #cf0a0a;
  font-weight: bold;
}
.fotolinked {
  max-height: 50%;
  max-width: 40%;
  margin-bottom: 20px;
}
.fotogit {
  max-height: 50%;
  max-width: 50%;
}
.contact-info {
  text-align: center;
  border-top: 2px solid black;
  padding-top: 20px;
}
body  {
  background-color: #f0f0f0;
}



/* ervaringen */

.container-ervaringen {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.foto-ervaringen {
  max-width: 25rem;

  margin-top: 10%;
  margin-bottom: 10%;
}

.tekst-ervaringen {
  margin: 0 10%;
  margin-bottom: 20px;
  text-align: justify;
}

.blauwe-lijn {
  border-bottom: 2px solid #1992cf;
  width: 100%;
  margin-top: 20px;
}
/* interesses */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #1992cf;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
  height: 50px;
}

.navbar a {
  text-decoration: none;
  color: #fff;
  margin: 0 15px;
}

.navbar a:hover {
  color: #0077ff;
}

.logo img {
  height: 50px;
  width: 50px;
  margin-top: 3px;
}

.container-interesses {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.foto img {
  max-width: 50rem;
  max-height: 25rem;
  width: 30rem;
  height: 45rem;
  border-radius: 5%;
}

.boven {
  margin-top: 2%;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 60rem;
}

.boven .foto {
  margin-right: 10px;
}

.onder {
  margin-top: 1%;
  text-align: center;
}

h1 {
  margin: 20px 0;
}

p {
  margin: 10px 0;
}

#table {
  margin-top: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

th,
td {
  border: 1px solid #333;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #1992cf;
}


/* start */
.content-start {
  display: flex;
  align-items: center;
  margin: 20px;
}

.foto-start {
  max-width: 20%;
  max-height: 30%;
  border-radius: 15%;
  margin-left: 5%;
}

.tekst-start {
  font-size: 15px;
  margin-left: 10%;
}

.header-start {
  font-size: 24px;
  margin-left: 10%;
}


/* footer */

.footer {
  background-color: #1992cf;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer p {
  margin: 0;
}



.footer a:hover {
  color: #0077ff;
}